
h1.title { /* Header 1 */
    font-size: 22px;
}
  
h1 { /* Header 1 */
    font-size: 19px;
}
h2 { /* Header 2 */
    font-size: 16px;
}
h3 { /* Header 3 */
    font-size: 14px;
}

p {
 color: darkslategray;
}

a {
color: steelblue;
}

.right {  
  <!-- padding-left: 20px; -->
  border: solid 1px black;
  float: right;
  <!-- border-radius: 50%; -->
  padding: 3px;
  border: 1px solid #ddd;
  box-shadow: 0 0 0 7px #fff, 
              0 0 0 8px #ddd;
  margin: 20px 20px 20px 20px; 
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a{color:#666666}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus{color:#212121;background-color:transparent}
.navbar-default .navbar-nav .open .dropdown-menu>.active>a,.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus{color:#2f4f94;background-color:#eeeeee}

@media print {
   a[href]:after {
      display: none;
      visibility: hidden;
   }
}

#TOC.tocify {
    width: 25%;
    min-width: 200px;
    max-width: 280px;
    max-height: 85%;
}

