h1.title {
  font-size: 22px;
}

h1 {
  font-size: 19px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 14px;
}

.section h2 {
  padding-top: 82px !important;
  margin-top: -65px !important;
  margin-block-end: 1px;
}

.section h1 {
  padding-top: 84px !important;
  margin-top: -65px !important;
}

.section.level1 > .section.level2:nth-of-type(2) > * {
  padding-top: 0 !important;
  margin-top: 0 !important;
}

body {
  line-height: 1.6;
  padding-top: 50px !important;
}

#navbar {
  display: flex !important;
}

.navbar-default .navbar-nav {
  display: flex;
  align-items: center;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  flex-grow: 1;
}

.navbar-default .navbar-nav > li {
  margin-right: 1rem;
}

.navbar-default .navbar-nav > li:last-child {
  margin-left: auto;
  margin-right: 0;
}

.navbar-default .navbar-nav .open .dropdown-menu li a {
  color: #666666;
}

.navbar-default .navbar-nav .open .dropdown-menu li a:hover, .navbar-default .navbar-nav .open .dropdown-menu li a:focus {
  color: #212121;
  background-color: transparent;
}

.navbar-default .navbar-nav .open .dropdown-menu li a.active, .navbar-default .navbar-nav .open .dropdown-menu li a.active:hover, .navbar-default .navbar-nav .open .dropdown-menu li a.active:focus {
  color: #2f4f94;
  background-color: #eeeeee;
}

@media (max-width: 767px) {
  .dropdown-menu {
    position: absolute !important;
    top: 100% !important;
    left: 0 !important;
    z-index: 1000 !important;
    float: left !important;
    min-width: 160px !important;
    padding: 5px 0 !important;
    margin: 2px 0 0 !important;
    list-style: none !important;
    font-size: 14px !important;
    text-align: left !important;
    background-color: #ffffff !important;
    border: 1px solid #cccccc !important;
    border: 1px solid rgba(0, 0, 0, 0.15) !important;
    border-radius: 4px !important;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;
    -webkit-background-clip: padding-box !important;
    background-clip: padding-box !important;
  }
}

#TOC {
  margin: 62px 0 20px 0 !important;
}

#TOC.tocify {
  width: 25%;
  min-width: 200px;
  max-width: 280px;
  max-height: 85%;
}

p,
h2,
span,
li,
.indented-lines-after-first,
.indented-first-line {
  color: darkslategray;
}

a {
  color: steelblue;
}

html {
  scroll-behavior: smooth;
}

p {
  margin: 0;
}

.section .level2 {
  overflow: hidden;
}

.navbar-toggle {
  display: none !important;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
}

@media print {
  a[href]:after {
    display: none;
    visibility: hidden;
  }
  a {
    color: #8282cc !important;
  }
}

.go-right {
  float: right;
  font-family: "Open Sans";
}

.width-7 {
  width: 7%;
}

.width-6 {
  width: 6%;
}

.right-frame-15 {
  padding: 3px;
  border: 1px solid #ddd;
  box-shadow: 0 0 0 7px #fff, 0 0 0 8px #ddd;
  margin: 0 20px 0 0;
  width: 15%;
}

.small-font {
  font-size: 0.8em;
}

.go-right-flex-section {
  padding-top: 82px;
  margin-top: -65px;
  white-space: nowrap;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-container > :first-child {
  padding-right: 35px;
}
