body {
  line-height: 1.6;
  padding-top: 50px !important;
}
#navbar {
  display: flex !important;
}

$color-default: #666666;
$color-hover-focus: #212121;
$color-active: #2f4f94;
$bg-color-active: #eeeeee;

.navbar-default {
  .navbar-nav {
    display: flex;
    align-items: center;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-grow: 1;

    > li {
      margin-right: 1rem;

      &:last-child {
        margin-left: auto;
        margin-right: 0;
      }
    }

    .open {
      .dropdown-menu {
        li {
          a {
            color: $color-default;

            &:hover,
            &:focus {
              color: $color-hover-focus;
              background-color: transparent;
            }

            &.active,
            &.active:hover,
            &.active:focus {
              color: $color-active;
              background-color: $bg-color-active;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .dropdown-menu {
    position: absolute !important;
    top: 100% !important;
    left: 0 !important;
    z-index: 1000 !important;
    float: left !important;
    min-width: 160px !important;
    padding: 5px 0 !important;
    margin: 2px 0 0 !important;
    list-style: none !important;
    font-size: 14px !important;
    text-align: left !important;
    background-color: #ffffff !important;
    border: 1px solid #cccccc !important;
    border: 1px solid rgba(0, 0, 0, 0.15) !important;
    border-radius: 4px !important;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;
    -webkit-background-clip: padding-box !important;
    background-clip: padding-box !important;
  }
}

#TOC {
  margin: 62px 0 20px 0 !important;
}

#TOC.tocify {
  width: 25%;
  min-width: 200px;
  max-width: 280px;
  max-height: 85%;
}

p,
h2,
span,
li,
.indented-lines-after-first,
.indented-first-line {
  color: darkslategray;
  text-align: justify;
}

html {
  scroll-behavior: smooth;
}

p {
  margin: 0;
}

.section .level2 {
  overflow: hidden;
}

.navbar-toggle {
  display: none !important;
}

a {
  color: steelblue;
  text-decoration: none;

  &:hover,
  &:active,
  &:visited,
  &:focus {
    text-decoration: none;
  }
}
