.go-right {
  float: right;
  font-family: "Open Sans", sans-serif;
}

.go-right-flex-section {
  padding-top: 82px;
  margin-top: -65px;
  white-space: nowrap;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-container > :first-child {
  padding-right: 35px;
}
