h1.title {
  font-size: 22px;
}

h1 {
  font-size: 19px;
}
h2 {
  font-size: 16px;
}
h3 {
  font-size: 14px;
}

.section h2 {
  padding-top: 0 !important;
  margin-top: 2px !important;
  margin-bottom: 2px;
}

.section h1 {
  padding-top: 15px !important;
  margin-top: 2px !important;
  margin-bottom: 2px;
}
